//variables

$lato_font: "Lato", sans-serif !important;
$roboto_font: "Roboto", sans-serif;

$white: #fff !important;
$primary_color: #0083cb;
$primary_light: #005f89;
$primary_light_light: #0093b7;
$main_background: #f5f9fa;
$head_color: #006882;
$green_color: #2a8400;
$para_color: #586c72;
$gray_color: #545454;
$red_color: #f00;
$alert_bg_color: #effafb; //alert background color
$border_color: #e6e6e6;

$nav_font: 14px;
$para_font: clamp(12px, 2.5vw, 17px);
$font_first: clamp(35px, 5vw, 72px);
$font_second: clamp(25px, 4vw, 48px);
$font_third: clamp(28px, 2.5vw, 36px);
$font_fourth: clamp(24px, 2.5vw, 30px);
$font_fifth: clamp(20px, 2.5vw, 28px);

$margin_sec: 4rem 5%;

// Utilities Classes End

@mixin flexCenter {
  display: flex !important ;
  justify-content: center;
  align-items: center;
}
@mixin blockCenter {
  display: block;
  margin-inline: auto;
}
@mixin inputStyle {
  width: 100%;
  padding: 8px;
  border: 1px solid $border_color;
  background-color: transparent;
  border-radius: 4px;
}

// desktop to mobile
@mixin media-sm {
  @media (max-width: 425px) {
    @content;
  }
}

@mixin media-md {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media (max-width: 990px) {
    @content;
  }
}

@mixin media-lg-x {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin media-xxl {
  @media (max-width: 1400px) {
    @content;
  }
}

// Key Frames

@keyframes inline-scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

// head first

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // border: 1px solid red;
}

// Utilities Classes
body {
  font-family: $lato_font;
  background-color: $main_background !important;
}
a {
  text-decoration: none !important;
}

.head_first {
  font-size: $font_first;
  font-style: normal;
  font-weight: 800;
  line-height: 1.3;
}
.head_second {
  font-size: $font_second;
  font-weight: 800;
  line-height: 1.4; /* 133.333% */
}

.head_third {
  font-size: $font_third;
  font-weight: 800;
  line-height: 1.4; /* 133.333% */
}
.head_fourth {
  font-size: $font_fourth;
  font-weight: 800;
  line-height: 1.4;
}
.head_fifth {
  font-size: $font_fourth;
  font-weight: 600;
  line-height: 1.4;
}
.para {
  color: $para_color;
  font-size: $para_font;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5;
}

.price {
  color: #0093b7;
  font-weight: 600;
  font-size: 16px;
}

.price_big {
  font-size: clamp(22px, 3vw, 32px) !important;
}

.text_primary_color {
  color: $primary_color !important;
}

.text_blue {
  color: $head_color;
}

.text_green {
  color: $green_color;
}

.text_gray {
  color: $gray_color !important;
}
.text_red {
  color: $red_color;
}

.ch65 {
  max-width: 65ch;
}

.ch75 {
  max-width: 75ch;
}

.bg_primary_color {
  background-color: $primary_color !important;
}

.bg_primary_light {
  background-color: $primary_light !important;
}

.bg_primary_light_light {
  background-color: $primary_light_light !important;
}

.border_primary_color {
  border: 1px solid $primary_color !important;
}

.text_uppercase {
  text-transform: uppercase !important;
}

.main_btn {
  display: flex;
  height: 48px;
  padding: 8px 32px;
  align-items: center;
  gap: 10px;
  color: $primary_light;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.main_btn_full {
  width: 100% !important;
}
.product_btns {
  // max-width: 325px;
  display: block;
  text-align: center;
  width: 100%;
  padding: 6px 0;
  border-radius: 4px;
  background-color: $primary_light;
  border: 1px solid $primary_light;
}

.line {
  height: 1px;
  width: 90%;
  background-color: #d3e4e9;
  @include blockCenter;
}

.line_through {
  text-decoration: line-through;
}

.hide {
  display: none !important;
}

// Reusable SCSS(Section or compontents)

// bread crumb section
.bread_crumb_sec {
  width: 90%;
  background-color: #eeefff;
}
// bread crumb section

// Product Details
.products_details {
  .product_details_image {
    .main_img {
      img {
        width: 100%;
      }
    }
    .product_more_img_div {
      .product_more_img {
        img {
          width: 100%;
        }
      }
    }
  }

  .product_detail {
    h3 {
      color: #333333 !important;
      font-weight: 500;
    }

    .buttons_grp {
      width: 50%;
    }

    .product_notice {
      width: 100%;
    }

    .product_carousel {
      display: none;
    }
  }
}

// Product Details End
