.navbar-toggler-icon {
  background-image: url("/dist/assets/menu.svg") !important;
  border: none !important;
}
.navbar-toggler {
  border: none !important;
}

.accordion-button:not(.collapsed) {
  color: unset !important;
  background-color: unset !important;
  box-shadow: unset !important;
}
.accordion-button:focus {
  box-shadow: unset !important;
}

.accordion-item {
  border: unset !important;
}
