@include media-sm {
  // header section
  .header_sec {
    .sub_head {
      gap: 0 !important;
    }
  }
  // header section end

  // Key filter section
  .key_filter_wrapper {
    justify-content: center !important;
    button {
      font-size: 10px;
      padding: 8px !important;
    }
  }
  // Key filter section End

  // show Products section
  .search_products {
    gap: unset !important;
    input {
      min-width: unset !important;
      background-color: #f6f9fa;
      border: none !important;
      width: 100% !important;
    }
  }
  // show Products section End

  // viewProduct.html
  // Product details image section
  .product_details_image {
    display: none;
  }
  // Product details image section End
  // product details section
  .product_detail {
    .product_carousel {
      display: block !important;
      .item {
        img {
          width: 100%;
        }
      }
    }
  }
  // product details section End
  // viewProduct.html

  // Dashborad.html
  // nav
  .table_header {
    button {
      padding: 8px 10px;
    }
  }
  // nav End
  // Dashborad.html End
}

@include media-md {
  .hero_sec_wrapper {
    position: relative;

    .head_first,
    .para {
      color: $white;
    }

    .hero_right {
      display: none;
    }
    .hero_left {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.529),
          rgba(0, 0, 0, 0.505)
        ),
        url("/dist/assets/heroImg.png");
      background-repeat: no-repeat;
      background-size: cover;
      padding-bottom: 18rem;
    }

    // hero search

    .hero_search {
      transform: translate(-50%, -65%) !important;
    }
    // hero search end

    .splash_img {
      position: relative;
      transform: translate(100%, 0%) !important;
      z-index: -13;
    }
  }

  // pricing section
  .pricing_content_head {
    width: 100% !important;
  }
  // pricing section end

  //  products page product -(relaetd product)
  .show_products_sec {
    .show_products_wrapper {
      .related_products_sec {
        .related_products {
          justify-content: center !important;
        }
      }
    }
  }
  //  products page product -(relaetd product)  End

  // dashboard
  .table_sec_search {
    overflow-x: scroll;
  }
  // dashboard End
}

@include media-lg {
  // hero search

  .hero_search {
    transform: translate(-50%, -135%) !important;
    ul {
      flex-direction: column !important;
    }
  }
  .splash_img {
    transform: translate(100%, 0%) !important;
  }
  // hero search end
  // testimonail section
  .testimonial_header {
    h2,
    p {
      text-align: center !important;
      margin: 0 auto;
    }
  }
  // testimonail section end

  // Pricing product
  .product_wrapper {
    &.active {
      flex-direction: column !important;
    }
  }
  // pricing product end
}

@include media-lg-x {
  // hero search

  .hero_search {
    transform: translate(-50%, -65%) !important;
  }

  .splash_img {
    transform: translate(100%, 26%) !important;
  }
  // hero search end

  // alert div
  .alert_ {
    transform: translate(-50%, -110%) !important;
  }
  // alert div end
}

@include media-xxl {
  .hero_search {
    transform: translate(-50%, -145%);
  }
}
