.main {
  .ad_img {
    // border: 1px solid red;
    width: 30%;
    img {
      // border: 1px solid red;
      width: 55%;
      &:nth-child(2) {
        transform: translate(-25%, -15%);
      }
    }
  }

  // Key filter section
  .key_filter {
    .key_filter_wrapper {
      width: 95%;
      max-width: 500px;
      justify-content: space-around;
      background-color: white;
      border: 1px solid #b0b0b0;
      margin: $margin_sec;
      padding: 5px 0;
      @include blockCenter;
      button {
        padding: 8px 32px;
        &.active,
        &:hover {
          cursor: pointer !important;
          background-color: #005f89;
          color: white;
        }
        input,
        label {
          cursor: pointer;
        }
      }
    }
  }
  // Key filter section End

  // Show Products

  .show_products_sec {
    margin: $margin_sec;
    display: none;
    .show_products_wrapper {
      // Search Products
      .search_products {
        // border: 1px solid red;
        input {
          min-width: 185px;
          width: 30%;
          border: 1px solid #b0b0b0;
          padding: 11px 15px;
        }
      }
      // Search Products End

      // Products Fillter
      .product_filter {
        overflow: scroll;
        &::-webkit-scrollbar {
          width: unset !important;
        }

        &::-webkit-scrollbar-track {
          background: unset !important;
        }

        &::-webkit-scrollbar-thumb {
          background: unset !important;
          border-radius: unset !important;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: unset !important;
        }
        &::-webkit-scrollbar-corner {
          background: transparent;
        }

        button {
          min-width: 180px !important;
          font-size: clamp(12px, 3vw, 14px) !important;
          border: 1px solid $gray_color;
          text-transform: uppercase;
          &.active {
            border: 1px solid $primary_light;
            color: $primary_light !important;
          }
        }
      }
      // Products Fillter End

      //  products page product -(relaetd product)
      .related_products_sec {
        .related_products {
          .product {
            max-width: 285px !important;
          }
        }
      }

      //  products page product -(relaetd product)  End
    }
  }

  .show_products_sec.active {
    display: block;
  }
  // Show Products End

  // Clean service sec
  #clean_service_sec {
    .pricing {
      .pricing_sec_wrapper {
        background-image: linear-gradient(136deg, #006944 0%, #0065b0 100%);
        margin: 0 !important;
        max-width: 350px;
        .btn_group {
          button {
            border-radius: 8px !important;
          }
        }
      }

      .pricing_product {
        .product_wrapper {
          padding: 0 !important;
        }
      }
    }
  }
  // Clean service sec End

  // still q section

  .still_Q_sec {
    .still_Q {
      margin: $margin_sec;
      background-color: #63cdd7 !important;
      div {
        h4,
        p {
          font-size: clamp(18px, 3vw, 32px);
        }
      }
      button {
        color: #63cdd7 !important;
      }
    }
  }
  // still q section End
}
