// Form Section

.form_sec {
  .back_link {
    margin: $margin_sec;
    border-bottom: 1px solid #005f89;
    color: #005f89;
    width: 10%;
  }
  .form_sec_wrapper {
    margin: $margin_sec;
    background-color: white;
    padding: 5%;

    .form_sec_main {
      // border: 1px solid red;
      .main_btn {
        color: white;
        background-color: #005f89;
        @include flexCenter;
        width: 100%;
      }
    }

    .form_img {
      img {
        width: 100%;
      }
    }

    .head_fourth {
      color: #545454;
    }
    .checkbox {
      display: none;
    }
    .checkbox_box_content {
      border: 1px solid $border_color;
      width: 100%;
      min-width: 200px;
      max-width: 253px;
      height: 48px;
      color: #8a8a8a;
      font-size: 14px;
      font-weight: 500;
      @include flexCenter;
    }

    .checkbox_box .checkbox:checked ~ .checkbox_box_content {
      color: white;
      background-color: #005f89;
    }
  }

  // Layout 2
  .layout_2 {
    .form_details {
      form {
        .detail {
          @include inputStyle;
          &::placeholder {
            color: #8a8a8a;
            font-size: 14px;
          }
        }
        .buttons_grp {
          // border: 1px solid red;
          width: 100%;
          a {
            width: 100%;
          }
        }
      }
    }
  }
  // Layout 2 End

  // Layout 3 confirmation
  .confirmation {
    width: 80%;
    .profile_img {
      .loader {
        width: 80%;
        max-width: 15rem;
      }
    }
  }
  // Layout 3 confirmation End
}
// Form Section End
